In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
ipl=pd.read_csv('F:\jupyter\deliveries.csv')
ipl.head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [19]:
ipl[(ipl['batsman']=='DA Warner') & (ipl['ball']==3) & (ipl['match_id']==1) &(ipl['over']==1)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [27]:
match_ist=ipl[(ipl['match_id']==1)]
match_ist

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [117]:
store=match_ist[(match_ist['batting_team']=='Sunrisers Hyderabad')]

In [118]:
store['batsman'].unique()

array(['DA Warner', 'S Dhawan', 'MC Henriques', 'Yuvraj Singh',
       'DJ Hooda', 'BCJ Cutting'], dtype=object)

In [121]:
store['dismissal_kind'].value_counts()

caught    3
bowled    1
Name: dismissal_kind, dtype: int64

In [128]:
match_2=ipl[ipl['match_id']==2]
match_2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
248,2,1,Mumbai Indians,Rising Pune Supergiant,1,1,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
249,2,1,Mumbai Indians,Rising Pune Supergiant,1,2,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
250,2,1,Mumbai Indians,Rising Pune Supergiant,1,3,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
251,2,1,Mumbai Indians,Rising Pune Supergiant,1,4,JC Buttler,PA Patel,AB Dinda,0,...,0,0,0,0,5,0,5,NaN,NaN,NaN
252,2,1,Mumbai Indians,Rising Pune Supergiant,1,5,PA Patel,JC Buttler,AB Dinda,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,2,2,Rising Pune Supergiant,Mumbai Indians,20,1,MS Dhoni,SPD Smith,KA Pollard,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
491,2,2,Rising Pune Supergiant,Mumbai Indians,20,2,SPD Smith,MS Dhoni,KA Pollard,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
492,2,2,Rising Pune Supergiant,Mumbai Indians,20,3,MS Dhoni,SPD Smith,KA Pollard,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
493,2,2,Rising Pune Supergiant,Mumbai Indians,20,4,SPD Smith,MS Dhoni,KA Pollard,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
494,2,2,Rising Pune Supergiant,Mumbai Indians,20,5,SPD Smith,MS Dhoni,KA Pollard,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [152]:
match_2[match_2['inning']==1]
p=match_2[(match_2['batting_team']=='Mumbai Indians')]
p['total_runs'].value_counts()

1    55
0    41
4    12
6    11
2     5
5     1
Name: total_runs, dtype: int64